{
  "parser": "babel-eslint",
  "env": {
      "browser": true
  },
  "plugins": [
      "react",
      "react-native"
  ],
  "extends": [
      "plugin:react-native/all"
  ],
  "rules": {
      // overrides
  }
}